
<div class="home">
  <div class="landing-text">
    <h1>BOOTSTRAP</h1>
    <h3>Learn the basic building blocks.</h3>
    <a href="#" class="btn btn-default btn-outline-dark">Get Started</a>
  </div>
</div>

<div class="padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="./assets/css/img/bootstrap.png" style="max-width:100%" >
      </div>
      <div class="col-sm-6">
        <h2>All About Using Bootstrap.</h2>
        <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta labore deserunt iure? Et, animi placeat nulla sit omnis accusantium ut nostrum dolores quibusdam in eligendi delectus doloremque, aperiam eum iure!</p>
        <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta labore deserunt iure? Et, animi placeat nulla sit omnis accusantium ut nostrum dolores quibusdam in eligendi delectus doloremque, aperiam eum iure!</p>
      </div>
    </div>
  </div>
</div>

<div class="padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <h4>Built with Sass</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptatibus delectus consectetur porro ullam totam sit possimus recusandae numquam non quod, minus soluta error minima illum blanditiis consequatur eius hic?
        </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <img src="./assets/css/img/sass.png" style="max-width:100%" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <h4>And less</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptatibus delectus consectetur porro ullam totam sit possimus recusandae numquam non quod, minus soluta error minima illum blanditiis consequatur eius hic?
        </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <img src="./assets/css/img/less.png" style="max-width:100%" class="img-responsive">
      </div>
    </div>
  </div>
</div>

<div class="fixed">

</div>

<div class="padding">
  <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Here`s the cool thing about Bootstrap</h2>
            <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta labore deserunt iure? Et, animi placeat nulla sit omnis accusantium ut nostrum dolores quibusdam in eligendi delectus doloremque, aperiam eum iure!</p>
            <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta labore deserunt iure? Et, animi placeat nulla sit omnis accusantium ut nostrum dolores quibusdam in eligendi delectus doloremque, aperiam eum iure!</p>
        </div>
        <div class="col-sm-6">
            <img src="./assets/css/img/bootstrap2.png" style="max-width:100%"  class="img-responsive">
          </div>
    </div>
  </div>
</div>

